.profile-view {
  margin   : 86px auto;
  max-width: 1128px;
  padding  : 0 20px;

  @container (width <=@phone-width) {
    margin-top: 54px;
  }

  >header {
    margin-bottom: 42px;

    @container (width <=@phone-width) {
      margin-bottom: 27px;
    }

    >h1 {
      font-size: 36px;

      @container (width <=@phone-width) {
        font-size: 27px;
      }
    }
  }
}