.register-name-view {
  margin   : 86px auto;
  max-width: 1128px;
  padding  : 0 20px;

  @container (width <=@phone-width) {
    margin-top: 54px;
  }

  >header {
    margin-bottom: 42px;

    @container (width <=@phone-width) {
      margin-bottom: 27px;
    }

    >h1 {
      font-size: 36px;

      @container (width <=@phone-width) {
        font-size: 27px;
      }
    }
  }

  >.not-eligible {
    >h2 {
      font-size    : 24px;
      margin-bottom: 20px;
      display      : flex;
      align-items  : center;
      gap          : 10px;

      >.icon {
        display    : flex;
        align-items: center;
      }
    }

    >ul {
      margin-top : 20px;
      margin-left: 26px;
      list-style : disc;

      >li {
        margin-bottom: 10px;
      }
    }

    >.buttons {
      margin-top : 30px;
      display    : flex;
      align-items: center;
      gap        : 16px;
    }
  }
}